var config = {};

config.blacklistedDomains = ['js.revsci.net', 'js-agent.newrelic.com', 'graph.facebook.com', 'cdn.api.twitter.com', 'burt.io'];
config.workers = 2;
config.pageRequestsBeforeRespawn = 10;
config.page404meta = "phantom-renderer-404";
config.port = 3000;
config.url = "http://example.com"

// Set user ID and group ID for process
//config.uid = xxx;
//config.gid = xxx;

module.exports = config;